{{!< default}}

<link rel="stylesheet" type="text/css" href="{{asset "css/cover.css"}}" />
<script src="{{asset "js/modernizr.custom.js"}}"></script>

<div class="container">
  <div class="hero">
    <div class="hero__back hero__back--static"></div>
    <div class="hero__back hero__back--mover"></div>
    <div class="hero__front"></div>
  </div>
  <header class="codrops-header">
    <h1 class="codrops-title">
      {{@blog.title}} <span>Photography</span>
      <!-- {{@blog.description}} -->
    </h1>
    <!-- {{#if @blog.navigation}}
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    {{/if}} -->
    <nav class="menu">
      <a class="menu__item" href="http://about.sivagao.com"><span>About</span></a>
      <a class="menu__item menu__item--current" href="#"><span>Work</span></a>
      <a class="menu__item" href="#"><span>Contact</span></a>
      <!-- Todo contact wx/weibo? -->
    </nav>
  </header>


  <div class="stack-slider">
    <div class="stacks-wrapper">

      <!-- Todo: different category diff stack -->
      <div class="stack">
        <h2 class="stack-title">
          <a href="#" data-text="Photos"><span>Photos</span></a>
        </h2>

        {{#foreach posts}}
        <div class="item">
          <div class="item__content">
            <img src="{{image}}" alt="{{{title}}}" />
            <!-- Todo: add link effects -->
            <a href="{{url}}">
              <h3 class="item__title">
                {{{title}}}
                <span class="item__date">
                  {{date format="DD/MMMM/YYYY"}}
                </span>
              </h3>
            </a>
            <div class="item__details">
              <ul>
                <li><i class="icon icon-camera"></i><span>Canon PowerShot S95</span></li>
                <li><i class="icon icon-focal_length"></i><span>22.5mm</span></li>
                <li><i class="icon icon-aperture"></i><span>&fnof;/5.6</span></li>
                <li><i class="icon icon-exposure_time"></i><span>1/1000</span></li>
                <li><i class="icon icon-iso"></i><span>80</span></li>
              </ul>
            </div>
          </div>
        </div>
        {{/foreach}}

        <div class="item">
          <!-- Related demos -->
          <div class="item__content item__content--related">
            <p>If you enjoyed this demo you might also like:</p>
            <a class="media-item" href="http://about.sivagao.com">
              <img class="media-item__img" src="assets/img/about-thumb.png" />
              <h3 class="media-item__title">Siva's About</h3>
            </a>
            <a class="media-item" href="http://sivagao.com">
              <img class="media-item__img" src="assets/img/blog-thumb.png" />
              <h3 class="media-item__title">Siva's Blog</h3>
            </a>
          </div>
        </div>
      </div>
      <!-- {{pagination}} -->
    </div>
    <!-- /stacks-wrapper -->
  </div>
  <!-- /stacks -->
  <img class="loader" src="/assets/img/three-dots.svg" width="60" alt="Loader image" />
</div>

<script src="{{asset "js/flickity.pkgd.min.js"}}"></script>
<script src="{{asset "js/smoothscroll.js"}}"></script>
<script src="{{asset "js/cover.js"}}"></script>
