{{!< default}}

<link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" />
<script src="{{asset "js/jquery.photobox.js"}}"></script>
<style type="text/css">
  .content .images-wrap {
    display: none;
  }
</style>
<script type="text/javascript">
  var PostCover = '{{post.image}}';
</script>

{{#post}}

<div id="wrap">
  <a class="back-link" href="/">
    <b class="codrops-icon codrops-icon--prev"></b>
  </a>
  <div class="main {{post_class}}">
    <h1>{{title}}</h1>
    <div class="content">
      <!-- placholder for post non-photo -->
      {{content}}
    </div>

  </div>
  <ul id='gallery'></ul>

</div>
{{/post}}

<script src="{{asset "js/post.js"}}"></script>